<div style ="background-color: blue,width:600,align:center">
  <%= form_for @stock do |f| %>
    <% if @stock.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

        <ul>
          <% @stock.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field" style="display:block">
      <%= f.label :name %><br />
      <%= f.text_field :name,{:required => true, :class => "ui-widget input ui-state-highlight"} %>
    </div>
    <div class="field" style="display:block">
      <%= f.label :cost %><br />
      <%= f.text_field :cost,{:required => true, :class => "ui-widget input ui-state-highlight"} %>
    </div>
    <div class="field">
      <%= f.label :purchase_date %><br />
      <%= f.text_field :purchase_date,{:required => true, :class => "ui-widget input ui-state-highlight"} %>
    </div>
    <div class="field">
      <%= f.label :purchase_quantity %><br />
      <%= f.text_field :purchase_quantity, {:required => true, :class => "ui-widget input ui-state-highlight"} %>
    </div>
    <div class="field">
      <%= f.label :sell_price %><br />
      <%= f.text_field :sell_price,{:class => "ui-widget input ui-state-highlight"} %>
    </div>
    <div class="field">
      <%= f.label :sell_date %><br />
      <%= f.text_field :sell_date,{ :class => "ui-widget input ui-state-highlight"} %>
    </div>
    <div class="field">
      <%= f.label :sell_quantity %><br />
      <%= f.text_field :sell_quantity,{ :class => "ui-widget input ui-state-highlight"} %>
    </div>
    <div class="field">
      <%= f.label :profit_loss %><br />
      <%= f.text_field :profit_loss,{ :class => "ui-widget input ui-state-highlight"} %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>